{% if zsh_debug_startup_time %}
  zmodload zsh/zprof
{% endif %}

export ZSH=$HOME/.oh-my-zsh

POWERLEVEL9K_MODE='Hack'
source  /usr/share/powerlevel9k/powerlevel9k.zsh-theme

DISABLE_AUTO_UPDATE="{{ zsh_ohmy_disable_auto_update }}"
HIST_STAMPS="yyyy/mm/dd"

plugins=(
{% for plugin in zsh_ohmy_plugins %}
  {{ plugin }}
{% endfor %}
)

source $ZSH/oh-my-zsh.sh

if [ -f $HOME/.zshrc.local ]; then
   source $HOME/.zshrc.local
fi

{% if zsh_debug_startup_time %}
  zprof
{% endif %}